body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #007BFF;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    position:fixed;
    bottom: 0;
    width: 100%;
}

section {
    margin: 20px;
}

#contact-info a {
    color: #007BFF;
}

#projects img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

/* Стили для навигации */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffd700; 
}

#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-content {
    flex: 1;
}

#profile-image {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

#contact-info {
    display: flex;
    align-items: center;
}

.contact-details {
    flex: 1;
    color: green;
}

.contact-text {
    max-width: 300px; 
}

#profile-image {
    
    width: 250px;
    height: auto;
    border-radius: 5px;
    margin-left: 20px; 
    transition: transform 0.3s ease-in-out;
    border: 5px solid #3498db; 
    box-shadow: 0 0 5px rgba(8, 46, 71, 0.5); 
}
#profile-image:hover {
    transform: scale(1.2); 
}

#contact-info h2 {
    color: blue;
}   
#education h2 {
    margin-top: -60px;
    color: blue;    
}

#skills h2 {
    color: blue;
}


.developer-info {
    text-align: center;
    margin-top: 10px; 
}

.developer-info p{
    font-size: 24px; 
    font-weight: bold;
    color: #ffd700; 
    background-color: #3498db; 
    padding: 10px; 
    border-radius: 5px; 
    display: inline-block; 
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); 
}
#visit-info {
    
   size: 0.1px; 
   
     
}
#education {
    margin-top: auto;
}
.languages {
    border: 1px solid #ccc; 
    padding: 10px; 
    background-color: #f0f0f0; 
}

.languages p {
    margin: 0; 
}
#project-details h2{
    color: blue     ;
}
#first {
margin-top: -250px;
text-align: left;
font-weight: bolder;
color: brown;
font-size: 23px;
}
#time{
    text-align: right;
    color: green;
    font-size: 23px;
}

body {
    position: relative;
}

#night-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


body.night-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}
